.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-around;
}

input {
    margin-right: 10px;
}

.title {
    flex-grow: 1;
    font-size: 18px;
}

button {
    color: #ffffff;
    border: none;
    margin-right: 5px;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#editButton,
#saveButton {
    background-color: #ffa252;
}

#deleteButton,
#cancelButton {
    background-color: #ff5252;
}


.edit-container {
    display: flex;
    align-items: center;
}

.edit-input {
    margin-right: 10px;
}

.edit-buttons {
    margin-left: auto;
}